[user]
	name = alek
	email = 111607655+ghostracco0n@users.noreply.github.com
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        editor = nvim
[credential]
	credentialStore = secretservice
	helper = 
	helper = /usr/local/bin/git-credential-manager
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
	useHttpPath = true
